<!-- Dynamic navbar for iOS theme -->
{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back">
                <i class="icon icon-back"></i>
                <!--<span>Back</span>-->
            </a>
        </div>
        <div class="center sliding">JumpInvestor Ios Webapp</div>
    </div>
</div>
{{/if}}
 
<div class="page" data-page="about">
    <!-- Fixed navbar for Material theme -->
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">JumpInvestor Android Webapp</div>
        </div>
    </div>
    {{/if}}
    
    <div class="page-content">
        <!-- Page content goes here -->
    </div>
</div>      